.home_swiper{
  width: 100%;
  height: 100%;
}

// 城市理想
.city_opinion{
  .swiper-pagination{ // 修改城市理想中的 swiper 分页器样式
    bottom: 9%;
    .swiper-pagination-bullet{
      margin: 0;
      width: 0.6rem;
      height: 0.12rem;
      border-radius: 9%;
      background-color: rgb(180,180,180);
    }
    .swiper-pagination-bullet-active{
      background-color: rgb(252,145,77);
    }
  }
}

// 美好社区--社区主张
.community_opinion{
  .swiper-pagination{ // 修改主张中的 swiper 分页器样式
    bottom: 0%;
    .swiper-pagination-bullet{
      margin: 0;
      width: 0.6rem;
      height: 0.12rem;
      border-radius: 9%;
      background-color: rgb(180,180,180);
    }
    .swiper-pagination-bullet-active{
      background-color: rgb(252,145,77);
    }
  }
}

// 美好社区--幸福归家路
.community_details{
  .swiper-pagination{ // 修改主张中的 swiper 分页器样式
    bottom: 0%;
    .swiper-pagination-bullet{
      margin: 0;
      width: 0.6rem;
      height: 0.12rem;
      border-radius: 9%;
      background-color: rgb(180,180,180);
    }
    .swiper-pagination-bullet-active{
      background-color: rgb(252,145,77);
    }
  }
}